<%= form_with(model: webcomic, local: true) do |form| %>
  <% if webcomic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(webcomic.errors.count, "error") %> prohibited this webcomic from being saved:</h2>

      <ul>
      <% webcomic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" %>
    <%= form.label 'Title'  %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group" %>
    <%= form.label 'Author'  %>
    <%= form.text_field :author, class: 'form-control' %>
  </div>

  <div class="form-group" %>
    <%= form.label 'Medium'  %>
    <%= form.text_field :medium, class: 'form-control' %>
  </div>

  <div class="form-group" %>
    <%= form.label 'Creation Date'  %>
    <%= form.date_field :creation_date, value: Date.today.to_s, class: 'form-control' %>
  </div>

  <div class="form-group" %>
    <%= form.label 'Upload file'  %>
    <%= form.file_field :comic_image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
    <%= link_to 'Back', webcomics_path, class: 'btn btn-secondary' %>
  </div>

<% end %>
