<p id="notice"><%= notice %></p>

<h1>Webcomics</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webcomics.each do |webcomic| %>
      <tr>
        <td><%= link_to 'Show', webcomic %></td>
        <td><%= link_to 'Edit', edit_webcomic_path(webcomic) %></td>
        <td><%= link_to 'Destroy', webcomic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webcomic', new_webcomic_path %>
